{% extends 'core/home.html'%}
{% block content %}
	<section id="contact">
      <div class="container">
        <h2 class="text-center text-uppercase text-secondary mb-0">Comentários</h2>
        <hr class="star-dark mb-5">
        <div class="row">
        {% for object in propostas %}
          <div class="col-lg-8 mx-auto">
              <div class="control-group">
                <div class="form-group floating-label-form-group controls mb-0 pb-2">
                 	Nome da lei:
                  <input class="form-control" value="{{ object.nome }}">
                </div>
              </div>
              <div class="control-group">
                <div class="form-group floating-label-form-group controls mb-0 pb-2">
                	Descrição da lei:
                  <input class="form-control" value="{{ object.proposta }}">
                  <p class="help-block text-danger"></p>
                </div>
              </div>
          </div>
        {% endfor %}
        </div>
      </div>
      <div class="form-group">
        	<a class="btn btn-primary btn-xl" href='{% url "votacao:comentar" %}'>Comentar</a>
      </div>
    </section>
        
{% endblock %}